<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "AI To-Do App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
   <body>
    <% if user_signed_in? %>
    <header style="position: center; padding: 15px 20px; text-align: center;">
    <div style="position: absolute; top: 15px; right: 20px;">
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn logout-btn", form_class: "logout-form" %>
    </div>
    </header>
   <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
